body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: black;
}

.header {
  background-image: url("./assets/car.jpg");

  padding: 3rem;
  text-align: center;
}
.header {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("./assets/car.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  padding: 5rem 2rem;
  text-align: center;
}

.header h2 {
font-size: 2.5rem;
padding: 4rem;

}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer {
    flex: 1;
    background-color: #70a9a1;
    padding: 1rem;
    box-shadow: 0 2px 5px lightgray;
    color: black;
}

.footer h2 {
    color: black;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #bad7f2;
}

.navbar button {
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
}

.navbar button:hover {
  background-color: #deab90;
  color: white;
}

.environmental {
  background-color: #7a9e9f;
  color: black;
  padding: 2rem;
  box-shadow: 0 2px5px lightgray;
}

.environmental h2 {
  color: black;
}

.cultural {
  background-color: #7a9e9f;
  padding: 2rem;
  box-shadow: 0 2px5px lightgray;
  color: black;
}

.cultural h2 {
  color:black;
}

.economic {
  background-color:#7a9e9f;
  padding: 2rem;
  box-shadow: 0 2px5px lightgray;
  color: black;
}

.economic h2 {
  color: black;
}
.header {

  padding: 5rem 2rem;
  text-align: center;
}

.header h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about {
  background-color:#a4ac86;
  padding: 2rem;
  color: black;
}

.about h2 {
  color:black;
}

.history {
  padding: 2rem;
  background-color: #bdd5ea;
  color: black;
}

.history h2 {
  color: black;
}
.solutions {
  background-color: #d8e2dc;
  color: black;
  padding: 2rem;
  box-shadow: 0 2px5px lightgray;
}

.solutions h2 {
  color: black;
}

.solutions h2, .about h2 {
  font-size: 1.5rem;
}

.right-side1,
.right-side2,
.right-side3 {
  display: flex;
  align-items: center;
  gap: 2rem;
} 

.left-side1,
.left-side2,
.left-side3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.right-side1 img,
.right-side2 img,
.right-side3 img,
.left-side1 img,
.left-side2 img,
.left-side3 img {
  width: 300px;
  height: auto;
}
.impacts-container {
  display: flex;
  gap: 2rem;
}

.impacts-container2 {
  display: flex;
  gap: 2rem;
}

.impacts-container3 {
  display: flex;
  gap: 2rem;
}

.positive,
.negative {
  flex: 1;
  padding: 1rem;
  background-color: #b8d8d8;
  border-radius: 10px;
}