body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: rgb(107, 107, 224);
  color: white;
  padding: 3rem;
  text-align: center;
}

.card-container {
    display: flex;
    gap: 1rem;
}

.card {
    flex: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightgray;

}
.footer {
    flex: 1;
    background-color: rgb(137, 176, 195);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightgray;

}